<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You have made changes.  Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{user.city}}, {{user.state}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{user.lastActive | timeago}}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
            <button [disabled]="!editForm.dirty" form= "editForm" class="btn btn-success btn-block">Save Changes</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4>Your Life Details:</h4>
              <div class="form-group">
                <label for="address1">Address</label>
                <input class="form-control" type="text" name="address1" [(ngModel)]="user.address1">
                <input class="form-control mt-2" type="text" name="address2" [(ngModel)]="user.address2">
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" name="city" [(ngModel)]="user.city">
              </div>
              <div class="form-group">
                <label for="state">State</label>
                <select id="state" name="state" class="form-control" [(ngModel)]="user.state">
                  <option value="---">---</option>
                  <option value="Alabama">Alabama</option>
                  <option value="Alaska">Alaska</option>
                  <option value="Arizona">Arizona</option>
                  <option value="Arkansas">Arkansas</option><option value="California">California</option>
                  <option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option>
                  <option value="Delaware">Delaware</option><option value="District of Columbia">District of Columbia</option>
                  <option value="Florida">Florida</option><option value="Georgia">Georgia</option>
                  <option value="Guam">Guam</option><option value="Hawaii">Hawaii</option>
                  <option value="Idaho">Idaho</option><option value="Illinois">Illinois</option>
                  <option value="Indiana">Indiana</option><option value="Iowa">Iowa</option>
                  <option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option>
                  <option value="Louisiana">Louisiana</option><option value="Maine">Maine</option>
                  <option value="Maryland">Maryland</option><option value="Massachusetts">Massachusetts</option>
                  <option value="Michigan">Michigan</option><option value="Minnesota">Minnesota</option>
                  <option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option>
                  <option value="Montana">Montana</option><option value="Nebraska">Nebraska</option>
                  <option value="Nevada">Nevada</option><option value="New Hampshire">New Hampshire</option>
                  <option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option>
                  <option value="New York">New York</option><option value="North Carolina">North Carolina</option>
                  <option value="North Dakota">North Dakota</option><option value="Northern Marianas Islands">Northern Marianas Islands</option>
                  <option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option>
                  <option value="Oregon">Oregon</option><option value="Pennsylvania">Pennsylvania</option>
                  <option value="Puerto Rico">Puerto Rico</option><option value="Rhode Island">Rhode Island</option>
                  <option value="South Carolina">South Carolina</option><option value="South Dakota">South Dakota</option>
                  <option value="Tennessee">Tennessee</option><option value="Texas">Texas</option>
                  <option value="Utah">Utah</option><option value="Vermont">Vermont</option>
                  <option value="Virginia">Virginia</option><option value="Virgin Islands">Virgin Islands</option>
                  <option value="Washington">Washington</option><option value="West Virginia">West Virginia</option>
                  <option value="Wisconsin">Wisconsin</option><option value="Wyoming">Wyoming</option></select>
               
              </div>
              <div class="form-group">
                <label for="zip">Zip</label>
                <input class="form-control" type="text" name="zip" [(ngModel)]="user.zip">
              </div>
              <div class="form-group">
                <label for="country">Country</label>
                <input class="form-control" type="text" name="country" [(ngModel)]="user.country">
              </div>
            </form>
          </div>
    </div>
</div>