<p>
  MCH Media Group is known for helping small businesses develop and deploy Marketing media that allows them to effectively engage audiences custom tailored for their individual needs.  The company is an offshoot of Advanced Consumer Communications, Inc which began operations in 1992. 
</p><p>
During the first 10 years, we were focused on connecting consumers with opportunities that were beneficial to them using the media available at the time.  We used a BBS and later pay-per-clck websites that presented various offers to people in the form of ezines and info links.  These methods were marginally effective, but we lacked the financing and exposure necessary to enhance our presence in the advertising mediums available at the time.
</p><p>
The company tried various methods for the next 12 years to promote products with some success. During this time, advertising mediums and methods changed in favor of online media rather than traditional print and tv/radio ads. As the times have changed, these new methods have finally come in line with our primary mission and communication methods which are and have always been online related.
</p><p>
The main branch of the company has been rebranded as MCH Media Group to provide an all-encompassing view of online media.  This includes Social Media, Blogging, Newsfeeds, Email, and branded web pages.  Our goal over the years is still the same:  Connect consumers with companies in a cooperative relationship beneficial to both. 
</p><p>
We are now positioned in a very dynamic space that is exciting and is proving to be beneficial to the companies we represent and their customers.  Since internet marketing is now an accepted and necessary means used by virtually every organization whether big or small, we feel based on our experience we are well ahead of the curve.
</p><p>
This company can now provide the support and know-how to small businesses that is necessary for them to be successful in the today’s online world.  We are also striving to continue to lead in implementing the newest and most cost-effective marketing methods available today!
</p>
