<div class="container">
  <div class="row">
    <h2 class="mx-auto mt-5">Simulate Your Balance</h2>
    <br />
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12 mx-auto my-5">
      <div style="display: block">
        <canvas
          mdbChart
          [chartType]="chartType"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        >
        </canvas>
      </div>
    </div>
    <hr />
    <div class="row">
      <h2 class="mx-auto">Measures To Apply</h2>
      <br />
    </div>
    <hr />
    <div class="row">
      <div class="col-sm text-center">
        <label>Age Group</label>
      </div>
      <div class="col-sm text-center">
        <label>Education Level</label>
      </div>
      <div class="col-sm text-center">
        <label>Income Level</label>
      </div>
      <div class="col-sm text-center">
        <label>Health</label>
      </div>
      <div class="col-sm text-center">
        <label>Race/Ethnicity</label>
      </div>
      <div class="col-sm text-center">
        <label>Investments</label>
      </div>
      <div class="col-sm text-center">
        <label>Family Size</label>
      </div>
    </div>
    <div class="row">
      <div class="btn-group col-sm" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          {{ selectedOption1 }} <span class="caret"></span>
        </button>

        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li
            role="menuitem"
            *ngFor="let measure1 of measures1"
            (click)="
              changeSelectedOption1(measure1.description, measure1.weight)
            "
          >
            <span class="dropdown-item"> {{ measure1.description }} </span>
          </li>
        </ul>
      </div>
      <div class="btn-group col-sm" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          {{ selectedOption2 }} <span class="caret"></span>
        </button>

        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li
            role="menuitem"
            *ngFor="let measure2 of measures2"
            (click)="
              changeSelectedOption2(measure2.description, measure2.weight)
            "
          >
            <span class="dropdown-item"> {{ measure2.description }} </span>
          </li>
        </ul>
      </div>
      <div class="btn-group col-sm" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          {{ selectedOption3 }} <span class="caret"></span>
        </button>

        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li
            role="menuitem"
            *ngFor="let measure3 of measures3"
            (click)="
              changeSelectedOption3(measure3.description, measure3.weight)
            "
          >
            <span class="dropdown-item"> {{ measure3.description }} </span>
          </li>
        </ul>
      </div>
      <div class="btn-group col-sm" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          {{ selectedOption4 }} <span class="caret"></span>
        </button>

        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li
            role="menuitem"
            *ngFor="let measure4 of measures4"
            (click)="
              changeSelectedOption4(measure4.description, measure4.weight)
            "
          >
            <span class="dropdown-item"> {{ measure4.description }} </span>
          </li>
        </ul>
      </div>
      <div class="btn-group col-sm" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          {{ selectedOption5 }} <span class="caret"></span>
        </button>

        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li
            role="menuitem"
            *ngFor="let measure5 of measures5"
            (click)="
              changeSelectedOption5(measure5.description, measure5.weight)
            "
          >
            <span class="dropdown-item"> {{ measure5.description }} </span>
          </li>
        </ul>
      </div>
      <div class="btn-group col-sm" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          {{ selectedOption6 }} <span class="caret"></span>
        </button>

        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li
            role="menuitem"
            *ngFor="let measure6 of measures6"
            (click)="
              changeSelectedOption6(measure6.description, measure6.weight)
            "
          >
            <span class="dropdown-item"> {{ measure6.description }} </span>
          </li>
        </ul>
      </div>
      <div class="btn-group col-sm" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          {{ selectedOption7 }} <span class="caret"></span>
        </button>

        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li
            role="menuitem"
            *ngFor="let measure7 of measures7"
            (click)="
              changeSelectedOption7(measure7.description, measure7.weight)
            "
          >
            <span class="dropdown-item"> {{ measure7.description }} </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr />
</div>
