<div style="display: block">
  <canvas mdbChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>
</div>
<div class="row">
  <div class="col-md-12 mx-auto my-5">
    <div class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        {{ selectedOption1 }} <span class="caret"></span>
      </button>

      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li
          role="menuitem"
          *ngFor="let measure1 of measures1"
          (click)="changeSelectedOption1(measure1.description, measure1.weight)"
        >
          <span class="dropdown-item"> {{ measure1.description }} </span>
        </li>
      </ul>
    </div>
    <div class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        {{ selectedOption2 }} <span class="caret"></span>
      </button>

      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li
          role="menuitem"
          *ngFor="let measure2 of measures2"
          (click)="changeSelectedOption2(measure2.description, measure2.weight)"
        >
          <span class="dropdown-item"> {{ measure2.description }} </span>
        </li>
      </ul>
    </div>
    <div class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        {{ selectedOption3 }} <span class="caret"></span>
      </button>

      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li
          role="menuitem"
          *ngFor="let measure3 of measures3"
          (click)="changeSelectedOption3(measure3.description, measure3.weight)"
        >
          <span class="dropdown-item"> {{ measure3.description }} </span>
        </li>
      </ul>
    </div>
    <div class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        {{ selectedOption4 }} <span class="caret"></span>
      </button>

      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li
          role="menuitem"
          *ngFor="let measure4 of measures4"
          (click)="changeSelectedOption4(measure4.description, measure4.weight)"
        >
          <span class="dropdown-item"> {{ measure4.description }} </span>
        </li>
      </ul>
    </div>
  </div>
</div>
