<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>What This Is All About!</h1>
    <p class="lead">This site is dedicated to helping improve your life balance.  Hopefully to the point that your status is positive vs the various elements in the world.  You can simulate your life balance by clicking ‘Simulate Balance’ at the top.  If you want, you can register and we will save your life balance settings so you can access them any time to track where you are in life!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg" [routerLink]="['/home']" routerLinkActive="active">Back</button>
  </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
